.GrayBox {
    -fx-background-color: #FBE9E7;
}

.GrayBoxWithShadow {
    -fx-background-color: #FBE9E7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
}

.GrayBoxWithShadow2 {
    -fx-background-color: #2F2F4F;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
}